@page
@model SinusSkateboards.UI.Pages.AdminFolder.DeleteProductModel
@{
}

<div class="wrapper fadeInDown">
    <div id="formContent">
        <form method="post">
            <div class="row justify-content-center">
                <h2 class="active"> Are you sure you want to delete this product? </h2>
                <p>
                    <button class="btn btn-primary" asp-page-handler="Delete">Yes</button>
                    <button class=" btn btn-primary" asp-page-handler="DontDelete">No</button>
                </p>
            </div>
        </form>
    </div>
</div>
