@page
@model SinusSkateboards.UI.Pages.ISO9001Model
@{
}

<div class="container">
    <div class="row" style="text-align:center">
        <div class="col" style="text-align:center">
            <img src="~/images/logos/sinus-logo-landscape-large.png" style="width:200px" />
        </div>
        <div class="col">
            <img src="~/images/logos/606-6065912_heart-png-red-redheart-love-loveislove-painting-png.png" style="width:200px" />
        </div>
        <div class="col">
            <img src="~/images/logos/kisspng-iso-9000-certification-iso-9001-2015-as9100-intern-bb-optics-film-lab-5b1bf6a62bd6d6.4557042915285592701796.jpg" style="width:200px" />
        </div>
        <div class="col" style="text-align:center">
            <h1> = TRUE</h1>
        </div>
    </div>

    <div class="row pt-5" style="text-align:center">
        <div class="col">
            <h1> What is ISO 9001?</h1>
        <p>
            The International Organization for Standardization (ISO) is the world's largest developer of voluntary International Standards. Their standards offer solutions and best practices for almost all types of technology and business, helping companies and organizations to increase performance while protecting consumers and the planet.

            Developed through global consensus, their standards aim to break down barriers to international trade. Some well-known standards include ISO 9001 (quality), ISO 14001 (environment) and ISO 27001 (information security management).
        </p>

        <h3>What is ISO 9001:2015?</h3> 
        <p>
            ISO 9001 is the world’s most recognised Quality Management System (QMS) standard.

            It aims to help organisations meet the needs of their customers and other stakeholders more effectively. This is achieved by building a framework to ensure consistent quality in the provision of goods and/or services.

            The standard is based on 7 quality management principles, including having a strong customer focus, the involvement of top management, and a drive for continual improvement.
            <br />
            The seven quality management principles are:
            <br />
            1 – Customer focus
            <br />
            2 – Leadership
            <br />
            3 – Engagement of people
            <br />
            4 – Process approach
            <br />
            5 – Improvement
            <br />
            6 – Evidence-based decision making
            <br />
            7 – Relationship management
            <br />

            The principles are not ordered by priority. The relative importance of each principle varies from organization to organization and may change over time.

            Skillcast's content development, portal and delivery infrastructure and processes have been accredited with the ISO 9001 Quality Management certification.
        </p>
    </div>
</div>
    </div>

