@page
@model SinusSkateboards.UI.Pages.LogoutModel
@{
}

<div class="wrapper fadeInDown">
    <div id="formContent">
        <form method="post">

            <div class="row justify-content-center">

                <h2 class="active"> Are you sure you want to logout? </h2>
                <p>
                    <button class="btn btn-primary" asp-page-handler="Logout">Yes</button>
                    <button class=" btn btn-primary" asp-page-handler="DontLogout">No</button>
                </p>


            </div>

        </form>
    </div>
</div>